##errorCatcher Echo
#*

Copyright (C) 2015-2020 Gary Roderick               gjroderick<at>gmail.com

This program is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.  See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
this program.  If not, see http://www.gnu.org/licenses/.


Averages Extension

JSON data file template for Highcharts monthly averages plots

Version: 1.0.0b1                                  Date: 19 April 2020

Revision History

    19 April 2020       v1.0.0
        - reworked comments
    30 September 2016   v0.5.0
        - now packaged as a WeeWX extension
    10 May 2016         v0.4.0
        - no change, version number upgrade only
    April 2016          v0.3.0
        - no change, version number upgrade only
    5 March 2016        v0.2.2
        - no change, version number upgrade only
    21 July 2015        v0.2.1
        - remove old redundant code
    19 March 2015       v0.2.0
        - no change, version number upgrade only
    22 February 2015    v0.1.0
        - initial implementation
*#
[{
"_version": "averages.json.tmpl version 1.0.0b1",
"temperatureplot": {"series":
{"outTempMeanMinMax": {"name": "Temperature", "data": $monthTempMeanMinMaxjson},
"outTempMean": {"name": "Mean Temperature", "data": $monthTempMeanjson},
"outTempMax": {"name": "Maximum Temperature", "data": $monthTempMaxjson},
"outTempMin": {"name": "Minimum Temperature", "data": $monthTempMinjson}},
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "(\u00B0 C)"
#else
 "(\u00B0 F)"
#end if
},
"yAxisUnits": {"text": #slurp
#if $unit.unit_type_dict.group_temperature == "degree_C"
 "\u00B0 C"
#else
 "\u00B0 F"
#end if
}},
"rainplot": {"series":
{"rainAvg": {"name": "Rain", "data": $monthRainAvgjson}},
"yAxisLabel": {"text": #slurp
#if $unit.unit_type_dict.group_rain == "mm"
 "(mm)"
#elif $unit.unit_type_dict.group_rain == "inch"
 "(in)"
#else
 "(cm)"
#end if
},
"yAxisUnits": {"text": #slurp
#if $unit.unit_type_dict.group_rain == "mm"
 "mm"
#elif $unit.unit_type_dict.group_rain == "inch"
 "in"
#else
 "cm"
#end if
}},
"generated": "$current.dateTime"
}]